@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
    font-family: Montserrat;
}

.header {
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        align-items: center;
    }

    &__menu {
        background: #1D80ED;
    }
}

.sigma__line {
    background: #1D80ED;
}

.logo {
    &_text {
        display: flex;
        margin-top: -60px;
        margin-left: 120px;
        color: white;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 125vh;
    background-color: #D9D9D9;

    &__plate {
        width: 420px;
        background-color: #ffffff;
        border: 1px #788BA5;
        border-radius: 30;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    &__box {
        width: 100%;
        height: 50px;
    }

    &__text {
        text-align: center;
        color: #788BA5;

        &-gr {
            margin-bottom: 40px;
        }
    }

    &__btn {
        margin-bottom: 20px;
        position: relative;
        left: -70px;
    }

    &__input {
        width: 85%;
        margin-left: 30px;
    }

    &__btn-acept {
        width: 85%;
        margin-bottom: 50px;
        background-color: #1D80ED;
        color: #ffffff;
        border: none;
        border-radius: 30px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
}

.box {
    &__text {
        margin-bottom: 20px;
        margin-left: -300px;
    }
}

.podval {
    &__item {
        display: flex;
        flex-direction: column;
        padding: 75px;
    }

    &__btns {
        color: #fff;
        font-size: 30px;
        padding-top: 20px;
    }
}